form {
    border: 3px solid #f1f1f1;
    margin: auto;
    padding: 3%;
    background-color: #f1f1f1;
}

.city-input {
    width: 100%;
    padding: 1%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.city-input>label {
    text-align: center;
    width: 100%;
    display: block;
    padding: 1%;
}

.city-input>input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

input[type=radio] {
    accent-color: #2e6f7e;
}

.options {
    margin: auto;
    width: 50%;
    padding: 10px;
}

button {
    width: 10%;
    margin: auto;
    padding: 10px;
}

.button {
    position: relative;
}

#plot {
    position: relative;
    left: 26%;
}

#cityList li {
    border: 1px solid #ddd;
    /* Add a border to all links */
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    /* Grey background color */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove default text underline */
    font-size: 18px;
    /* Increase the font-size */
    color: black;
    /* Add a black text color */
    display: block;
    /* Make it into a block element to fill the whole list */
}

#cityList li:hover {
    background-color: #eee;
    /* Add a hover effect to all links, except for headers */
}

#city {
    width: 100%;
    padding: 0.5%;
}