<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js"></script>
    </head>
    <body>
        <h1>Weather Application</h1>
        <p> A simple weather application. 
            Tell me your city and I will tell you the weather.</p>
        <p>
            <form method="post" action="/generate_report">
                <div class="city-input">
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" oninput="citySearch()" autocomplete="off" />
                    <ul id="cityList">
                    </ul>
                </div>
                <div class="options">
                    <input type="radio" id="report1" name="report" value="current" checked>
                    <label for="report1">Current Weather Situation</label>
                    <input type="radio" id="report2" name="report" value="ten_day">
                    <label for="report2">Ten Day History</label>
                </div>
                <div class="button">
                    <button type="submit" >Submit</button>
                </div>
            </form>
        </p>
    </body>
</html>