<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/3.2.1/bokeh.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
</head>

<body>
    <h1>Weather Report</h1>
    </form>
    <h1>{{ city["name"] }}</h1>
    <div id="plot">
        {{ div | safe }}
        {{ script | safe }}
    </div>
</body>

</html>